body {
    background-color: #000000;
    color: white
  }

  hr {
    border-style: dotted none none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }

  hr:hover {
    border-color: blue;
  }

  h1 {
    color: #E5E4E2;
  }

  h1:hover {
    color: gold;
  }

  h3 {
    color: #E5E4E2;
  }

  h3:hover {
    color: #DAF7A6;
  }

  img:hover {
    transform: scale(1.2);
  }

.circular {
  border-radius: 15%
}
